.about-us-atf {
  min-height: unset !important;
  padding-top: 260px;
  padding-bottom: 160px;
  @include tablet {
    padding-top: 150px;
  }
  @include mobile {
    padding-bottom: 50px;
  }
  .hero {
    padding-top: 0;
  }
  &:before {
    background: url("../images/about-atf.jpg") no-repeat !important;
    background-size: cover !important;
  }
  h1 {
    margin: 40px 0 10px;
  }
  .about-header-about {
    font: 400 20px/40px "Lato";
    @include mobile {
      font: 400 18px/34px "Lato";
    }
  }
  .about-atf-img {
    img {
      width: 50%;
      &:nth-child(1) {
        position: relative;
        top: -50px;
        right: -50px;
      }
      &:nth-child(2) {
      }
    }
  }
}
.meet-surgeons {
  padding: 100px 0 125px;
  background: url("../images/dots-pattern.svg") no-repeat;
  background-position: right bottom;
  background-size: 100%;
  @include tablet {
    padding: 50px 0 70px;
  }
  @include mobile {
    padding: 50px 0 30px;
  }
  h2 {
    margin-bottom: 75px;
    @include mobile {
      margin-bottom: 30px;
    }
  }
  .doctor-item {
    .doctor-avatar {
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 25px;
      img {
        width: 100%;
      }
    }
    h3 {
      font: 400 30px/38px $font-bold;
      color: $light-blue;
      text-transform: uppercase;
      letter-spacing: -1px;
      margin-bottom: 25px;
    }
    h5 {
      font: 400 22px/28px $font-regular;
      color: #787878;
      margin: 15px 0 25px;
    }
    .cbd-btn-primary {
      font-size: 16px;
      min-width: 180px;
      padding: 15px 25px;
      font-family: $font-semibold;
    }
  }
}

.doctor-bio-modal {
  background: rgba(255, 255, 255, 0.95);
  .modal-dialog {
    position: absolute;
    right: 20px;
    top: -20px;
    padding: 20px;
    pointer-events: all;
    @include mobile {
      top: 0;
      right: 0;
    }
  }
  .modal-wrapper {
    background: #fff;
    border-radius: 8px;
    width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 2px 18px 39px #00000012;
    margin: auto;
    top: 80px;
    height: calc(100vh - 160px);
    @include tablet {
      max-width: calc(100% - 50px);
      top: 25px;
      overflow: scroll;
      height: calc(100vh - 50px);
    }
    .doctor-bio {
      overflow-y: scroll;
      padding: 60px 120px 60px 185px;
      height: 100%;
      width: 100%;
      @include tablet {
        padding: 50px;
        overflow: visible;
      }
      @include mobile {
        padding: 25px;
      }
      h3 {
        font: 400 36px/46px $font-bold;
        color: $light-blue;
        text-transform: uppercase;
      }
      p {
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 5px;
      }
      hr {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    .doctor-avatar {
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 25px;
      position: absolute;
      left: -135px;
      top: 60px;

      img {
        width: 270px;
        @include mobile {
          width: calc(100% - 50px);
        }
      }
      @include tablet {
        position: relative;
        top: 50px;
        left: 50px;
        margin-bottom: 50px;
        display: inline-block;
      }
      @include mobile {
        width: calc(100% - 50px);

        top: 80px;
        left: 25px;
        margin-bottom: 80px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.about-testimonials {
  padding: 100px 0 100px;
  @include tablet {
    padding: 80px 0;
  }
  background: #fff;
  h2 {
    margin-bottom: 20px;
  }
  .testimonials-carousel {
    position: relative;
    .owl-prev {
      position: absolute;
      top: 45%;
      left: -90px;
      outline: 0;
      @include tablet {
        display: none;
      }
    }
    .owl-next {
      position: absolute;
      top: 45%;
      right: -90px;
      outline: 0;
      @include tablet {
        display: none;
      }
    }
    .owl-stage-outer {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .item {
      padding: 50px 90px 30px 90px;
      border: 2px solid $light-blue;
      font-size: 20px;
      line-height: 36px;
      position: relative;
      overflow: visible;
      @include mobile {
        padding: 50px 25px 50px;
        font-size: 16px;
        line-height: 28px;
      }
      iframe {
        max-width: 100%;
      }
      &:before {
        content: " ";
        width: 153px;
        height: 131px;
        background: url("../images/quote-left.svg") no-repeat;
        background-size: 100%;
        position: absolute;
        top: -40px;
        left: -40px;
        z-index: 50;
        @include mobile {
          width: 103px;
          height: 91px;
          top: -30px;
          left: -30px;
        }
      }
      &:after {
        content: " ";
        width: 153px;
        height: 131px;
        background: url("../images/quote-right.svg") no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: -40px;
        right: -40px;
        z-index: 50;
        @include mobile {
          width: 103px;
          height: 91px;
          bottom: -30px;
          right: -30px;
        }
      }
      h3 {
        font-size: 20px;
        line-height: 40px;
        margin-top: 0;
        font-weight: bold;
        @include mobile {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }
}

.about-affiliations {
  padding: 100px 0;
  @include tablet {
    padding: 80px 0;
  }
  @include mobile {
    padding: 40px 0;
  }
  h2 {
    margin-bottom: 50px;
  }
  img {
    max-width: 100%;
    width: auto;
    height: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1919px) {
  .about-us-atf {
    min-height: unset !important;
    padding-top: 13.54vw;
    padding-bottom: 8.33vw;
    .hero {
      padding-top: 0;
    }
    &:before {
      background: url("../images/about-atf.jpg") no-repeat !important;
      background-size: cover !important;
    }
    h1 {
      margin: 2.08vw 0 0.52vw;
    }
    .about-header-about {
      font: 400 1.04vw/2.08vw "Lato";
    }
    .about-atf-img {
      img {
        width: 50%;
        &:nth-child(1) {
          position: relative;
          top: -2.6vw;
          right: -2.6vw;
        }
        &:nth-child(2) {
        }
      }
    }
  }
  .meet-surgeons {
    padding: 5.21vw 0 6.51vw;
    background: url("../images/dots-pattern.svg") no-repeat;
    background-position: right bottom;
    background-size: 100%;
    h2 {
      margin-bottom: 3.91vw;
    }
    .doctor-item {
      .doctor-avatar {
        border-radius: 0.42vw;
        overflow: hidden;
        margin-bottom: 1.3vw;
        img {
          width: 100%;
        }
      }
      h3 {
        font: 400 1.56vw/1.98vw $font-bold;
        color: $light-blue;
        text-transform: uppercase;
        letter-spacing: -0.05vw;
        margin-bottom: 1.3vw;
      }
      h5 {
        font: 400 1.15vw/1.46vw $font-regular;
        color: #787878;
        margin: 0.78vw 0 1.3vw;
      }
      .cbd-btn-primary {
        font-size: 0.83vw;
        min-width: 9.38vw;
        padding: 0.78vw 1.3vw;
        font-family: $font-semibold;
      }
    }
  }

  .doctor-bio-modal {
    background: rgba(255, 255, 255, 0.95);
    .modal-dialog {
      position: absolute;
      right: 1.04vw;
      top: -1.04vw;
      padding: 1.04vw;
      pointer-events: all;
    }
    .modal-wrapper {
      background: #fff;
      border-radius: 0.42vw;
      width: 62.5vw;
      position: absolute;
      left: 0;
      right: 0;
      box-shadow: 0.1vw 0.94vw 2.03vw #00000012;
      margin: auto;
      top: 4.17vw;
      height: calc(100vh - 8.33vw);

      .doctor-bio {
        overflow-y: scroll;
        padding: 3.13vw 6.25vw 3.13vw 9.64vw;
        height: 100%;
        width: 100%;
        h3 {
          font: 400 1.88vw/2.4vw $font-bold;
          color: $light-blue;
          text-transform: uppercase;
        }
        p {
          font-size: 0.94vw;
          line-height: 1.82vw;
          margin-bottom: 0.26vw;
        }
        hr {
          margin-top: 2.6vw;
          margin-bottom: 2.6vw;
        }
      }
      .doctor-avatar {
        border-radius: 0.42vw;
        overflow: hidden;
        margin-bottom: 1.3vw;
        position: absolute;
        left: -7.03vw;
        top: 3.13vw;
        img {
          width: 14.06vw;
        }
      }
    }
  }

  .about-testimonials {
    padding: 5.21vw 0 5.21vw;
    background: #fff;

    h2 {
      margin-bottom: 1.04vw;
    }
    .testimonials-carousel {
      position: relative;
      .owl-prev {
        position: absolute;
        left: -4.69vw;
        outline: 0;
      }
      .owl-next {
        position: absolute;
        right: -4.69vw;
        outline: 0;
      }
      .owl-stage-outer {
        padding-top: 1.04vw;
        padding-bottom: 1.04vw;
      }
      .item {
        padding: 2.6vw 4.69vw 1.56vw 4.69vw;
        border: 0.1vw solid $light-blue;
        font-size: 1.04vw;
        line-height: 1.88vw;
        position: relative;
        overflow: visible;

        &:before {
          content: " ";
          width: 7.97vw;
          height: 6.82vw;
          background: url("../images/quote-left.svg") no-repeat;
          background-size: 100%;
          position: absolute;
          top: -2.08vw;
          left: -2.08vw;
          z-index: 50;
        }
        &:after {
          content: " ";
          width: 7.97vw;
          height: 6.82vw;
          background: url("../images/quote-right.svg") no-repeat;
          background-size: 100%;
          position: absolute;
          bottom: -2.08vw;
          right: -2.08vw;
          z-index: 50;
        }
        h3 {
          font-size: 1.04vw;
          line-height: 2.08vw;
          margin-top: 0;
          font-weight: bold;
        }
      }
    }
  }

  .about-affiliations {
    padding: 5.21vw 0;
    h2 {
      margin-bottom: 2.6vw;
    }
    img {
      max-width: 100%;
      width: auto;
      height: 5.21vw;
    }
  }
}
