.equipment-atf {
  min-height: unset !important;
}
.equipment-sec {
  height: 100vh;
  max-height: 1080px;
  min-height: 600px;
  position: relative;
  @include tablet {
    min-height: unset;
    max-height: unset;
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    &.first {
      padding-top: 200px;
    }
  }
  &:before {
    content: " ";
    background: url("../images/dots.svg");
    width: 40vw;
    height: 70%;
    top: 15%;
    background-size: 30px 30px;
    position: absolute;
    opacity: 0.45;
    @include mobile {
      display: none;
    }
  }
  &.first {
    &:before {
      top: calc(15% + 50px) !important;
    }
  }
  &:nth-child(even) {
    background: #fff;
    &:before {
      right: 0;
    }
  }
  &:nth-child(odd) {
    background: #f8fcff;
    &:before {
      left: 0;
    }
  }
  h2 {
    font: 400 40px/58px $font-bold;
    color: $dark-blue;
    margin-bottom: 0px;
    letter-spacing: -1.5px;
    @include mobile {
      font: 400 28px/36px $font-bold;
      letter-spacing: -1px;
    }
  }
  h3 {
    margin-top: 10px;
    font: 400 30px/48px $font-bold;
    color: $light-blue;
    margin-bottom: 60px;
    text-transform: none;
    letter-spacing: -1px;
    @include mobile {
      font: 400 22px/30px $font-bold;
      letter-spacing: -0.5px;
      margin-bottom: 30px;
    }
  }
  p {
    font-size: 22px;
    line-height: 40px;
    @include mobile {
      font-size: 18px;
      line-height: 32px;
    }
  }
  .equipment-img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 0px 15px #fff, 2px 18px 39px #00000030;
    overflow: hidden;
    @include tablet {
      margin-top: 30px;
    }
    @include mobile {
      box-shadow: 0 0 0px 10px #fff, 2px 12px 30px #00000030;
    }
  }
}

@media (min-width: 992px) and(max-width:1919px) {
  .equipment-atf {
    min-height: unset !important;
  }
  .equipment-sec {
    height: 100vh;
    max-height: 56.25vw;
    min-height: 31.25vw;
    position: relative;

    &:before {
      content: " ";
      background: url("../images/dots.svg");
      width: 40vw;
      height: 70%;
      top: 15%;
      background-size: 1.56vw 1.56vw;
      position: absolute;
      opacity: 0.45;
    }
    &.first {
      &:before {
        top: calc(15% + 2.6vw) !important;
      }
    }
    &:nth-child(even) {
      background: #fff;
      &:before {
        right: 0;
      }
    }
    &:nth-child(odd) {
      background: #f8fcff;
      &:before {
        left: 0;
      }
    }
    h2 {
      font: 400 2.08vw/3.02vw $font-bold;
      color: $dark-blue;
      margin-bottom: undefinedvw;
      letter-spacing: -0.08vw;
    }
    h3 {
      margin-top: 0.52vw;
      font: 400 1.56vw/2.5vw $font-bold;
      color: $light-blue;
      margin-bottom: 3.13vw;
      text-transform: none;
      letter-spacing: -0.05vw;
    }
    p {
      font-size: 1.15vw;
      line-height: 2.08vw;
    }
    .equipment-img {
      width: 100%;
      border-radius: 0.78vw;
      box-shadow: 0 0 undefinedvw 0.78vw #fff, 0.1vw 0.94vw 2.03vw #00000030;
      overflow: hidden;
    }
  }
}
