@font-face {
  font-family: "Averta-Light";
  src: url("../fonts/Averta-Light.eot");
  src: url("../fonts/Averta-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Averta-Light.svg#Averta-Light") format("svg"),
    url("../fonts/Averta-Light.ttf") format("truetype"),
    url("../fonts/Averta-Light.woff") format("woff"),
    url("../fonts/Averta-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Semibold";
  src: url("../fonts/Averta-Semibold.eot");
  src: url("../fonts/Averta-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Averta-Semibold.svg#Averta-Semibold") format("svg"),
    url("../fonts/Averta-Semibold.ttf") format("truetype"),
    url("../fonts/Averta-Semibold.woff") format("woff"),
    url("../fonts/Averta-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Regular";
  src: url("../fonts/Averta-Regular.eot");
  src: url("../fonts/Averta-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Averta-Regular.svg#Averta-Regular") format("svg"),
    url("../fonts/Averta-Regular.ttf") format("truetype"),
    url("../fonts/Averta-Regular.woff") format("woff"),
    url("../fonts/Averta-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Bold";
  src: url("../fonts/Averta-Bold.eot");
  src: url("../fonts/Averta-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Averta-Bold.svg#Averta-Bold") format("svg"),
    url("../fonts/Averta-Bold.ttf") format("truetype"),
    url("../fonts/Averta-Bold.woff") format("woff"),
    url("../fonts/Averta-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato";
}
@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
$font-light: "Averta-Light";
$font-regular: "Averta-Regular";
$font-semibold: "Averta-Semibold";
$font-bold: "Averta-Bold";

@media (min-width: 1200px) and (max-width: 1920px) {
  .navbar {
    .navbar-brand {
      img {
        max-width:15.63vw;
      }}}
  .container {
    max-width: 73%;
    width: 73%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    .navbar-brand {
      img {
        max-width: 110px;
      }}}
  .container {
    max-width: 90%;
    width: 90%;
  }
}


$light-blue: #01c5f9;
$dark-blue: #015bea;

.header {
  background: rgba(#fff, 0.85);
  border-bottom: 1px solid rgba(#707070, 0.15);
  padding: 0 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 15;
  transition: all 0.3s;
  &.narrow {
    background: rgba(#fff, 0.95);

    .nav-link {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
    }
  }
  @include tablet {
    position: fixed;
    padding: 30px 20px;
    background: #fff;
  }
  @include mobile {
    padding: 20px;
    max-height: 100vh;
    overflow: scroll;
  }
  .navbar {
    .navbar-brand {
      img {
        max-width:300px;
       @include mobile {
         max-width: 20.63vw;
       }
       @include tablet {
         max-width: 20.63vw;
       }
      }
    }
    padding: 0;
    ul {
      @include mobile {
        max-height: calc(100vh - 80px);
        overflow: scroll;
      }
    }
    .navbar-collapse {
      @include tablet {
        order: 10;
      }
    }
  }
  .nav-item {
    position: relative;
    &.active {
      border-bottom: 3px solid $light-blue;
      @include tablet {
        border-bottom: none;
      }
      > .nav-link {
        color: $light-blue;
        svg {
          path {
            fill: $light-blue;
          }
        }
      }
    }
    > .nav-link {
      color: #707070;
      font: 400 18px/24px $font-semibold;
      letter-spacing: -0.7px;
      padding: 37px 20px;
      transition: all 0.3s;

      @include tablet {
        font-size: 22px;
        padding: 20px 0;
      }
      @include mobile {
        font-size: 18px;
        padding: 10px 0;
      }
      span {
        position: relative;
      }
      svg {
        height: 10px;
        width: 10px;
        margin-left: 5px;
        path {
          fill: #707070;
        }
      }
      &:hover {
        // border-bottom: 3px solid #ccc;
        color: $light-blue;
        @include tablet {
          border: none;
        }
      }
    }

    .sub-menu {
      z-index: 1000;
      @media (max-width: 991px) {
        border-left: 2px solid $light-blue;
      }
      a {
        display: block;
        color: #707070;
        font: 400 18px/40px $font-semibold;
        padding: 5px 25px;
        @include mobile {
          font: 400 18px/32px $font-semibold;
        }
        &:hover {
          color: $light-blue;
        }
      }
    }

    @media (min-width: 992px) {
      .sub-menu {
        padding-left: 0;
        position: absolute;
        left: 0;
        background: #ffffff;
        list-style: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        bottom: 1px;
        padding: 20px;
        min-width: 25vw;
        transform: translateY(calc(100% + 1px)) scaleY(0);
        transition: all 0.3s;
        transform-origin: top;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        a {
          display: block;
          opacity: 0;
          color: #707070;
          transition: all 0.3s;
          cursor: pointer;
          font: 400 18px/40px $font-semibold;
          padding: 5px 25px;
          &:hover {
            color: $light-blue;
          }
          @media (min-width: 992px) and(max-width:1919px) {
            font: 400 0.94vw/1.25vw $font-semibold;
            letter-spacing: -0.04vw;
            padding: 10px 1vw;
          }
        }
      }
      &.has-children {
        &:hover {
          .sub-menu {
            opacity: 1;
            transform: translateY(calc(100% + 1px)) scaleY(1);

            a {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .header-cta {
    @media (min-width: 992px) {
      order: 3;
    }
    @include mobile {
      display: none;
    }
    .cta-call {
      font: 400 18px/23px $font-regular;
      color: #242424;
      margin-right: 20px;
      text-decoration: none;
      &:hover {
        color: $light-blue;
      }
    }
    .cta-book {
      background: transparent linear-gradient(266deg, #015bea 0%, #01c5f9 100%)
        0% 0% no-repeat padding-box;
      text-align: center;
      font: 400 12px/15px $font-semibold;
      letter-spacing: 1.68px;
      color: #ffffff;
      box-shadow: 0 6px 64px #ffffffad;
      border-radius: 6px;
      padding: 17px 30px;
      text-decoration: none;
      background-size: 100%;
      background-position: center;
      transition: all 500ms;
      &:hover {
        background-size: 200%;
        background-position: right;
      }
    }
  }
}

.atf {
  position: relative;
  min-height: calc(100vh + 300px);
  @include tablet {
    min-height: 100vh;
  }
  &:before {
    content: " ";
    background: url("../images/herobg1.jpg") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-size: cover;
    animation: 2s fadeIn 0s forwards;
    @include mobile {
      background: url("../images/herobg1-mobile.jpg") no-repeat;
      background-position: center;
    }
  }
  &:after {
    content: " ";

    background: transparent linear-gradient(137deg, #ffffff 0%, #ffffff00 100%)
      0% 0% no-repeat padding-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgb(1, 98, 236),
    rgb(1, 197, 249) 30%,
    rgb(1, 197, 249) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cbd-btn-primary {
  background: transparent linear-gradient(266deg, #015bea 0%, #01c5f9 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0 6px 16px #01c5f933;
  border-radius: 8px;
  text-align: center;
  font: 400 22px/28px $font-regular;
  letter-spacing: 3px;
  color: #ffffff !important;
  padding: 25px 50px;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  min-width: 320px;
  background-size: 100%;
  background-position: center;
  transition: all 500ms;
  &:hover {
    background-size: 200%;
    background-position: right;
  }
  @include mobile {
    font: 400 18px/28px $font-regular;
    padding: 15px 30px;
    letter-spacing: 2px;
    min-width: 200px;
  }
}

.cbd-btn-secondary {
  background: transparent;
  border-radius: 8px;
  text-align: center;
  font: 400 22px/28px $font-regular;
  letter-spacing: 3px;
  color: #ffffff !important;
  padding: 25px 50px;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  min-width: 320px;
  border: 2px solid #fff;
  @include mobile {
    font: 400 18px/28px $font-regular;
    padding: 15px 30px;
    letter-spacing: 2px;
    min-width: 200px;
  }
}
.hero {
  position: relative;
  z-index: 10;
  padding-top: 315px;
  @include tablet {
    padding-top: 200px;
  }
  @include mobile {
    padding-top: 120px;
  }
  h1 {
    font: bold 60px/76px $font-bold;
    animation-delay: 0.5s;
    letter-spacing: -1.6px;
    @include mobile {
      font: bold 32px/46px $font-bold;
      letter-spacing: -0.8px;
    }
  }
  h3 {
    font: 400 26px/46px $font-semibold;
    margin-top: 30px;
    animation-delay: 0.7s;
    @include mobile {
      font: 400 20px/36px $font-semibold;
      margin-top: 10px;
    }
  }
  .hero-cta-book {
    animation-delay: 0.9s;
    background: #242424;
    border-radius: 6px;
    text-align: center;
    font: 400 22px/28px $font-regular;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 25px 50px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    @include mobile {
      padding: 15px 30px;
      font: 400 18px/28px $font-regular;
      letter-spacing: 1px;
    }
  }
}

.about {
  background: url("../images/conditions-bg-min.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  @include mobile {
    padding-bottom: 80px;
  }
  .intro {
    overflow: hidden;
    padding: 80px 0 200px;
    margin-bottom: -300px;
    position: relative;
    top: -300px;
    z-index: 10;
    @include tablet {
      position: static;
      background: #fff;
      padding: 50px 0;
      margin-bottom: 0;
    }
    h2 {
      font: bold 48px/56px $font-bold;
      margin-bottom: 0;
      letter-spacing: -2px;
      @include mobile {
        font: bold 36px / 48px $font-bold;

        letter-spacing: -1px;
      }
    }
    .intro-img {
      @include tablet {
        order: 2;
        margin-top: 30px;
      }
      &:before {
        content: " ";
        background: #fff;
        position: absolute;
        top: -80px;
        left: 50%;
        width: 100vw;
        z-index: 0;
        bottom: -80px;
        border-radius: 8px;
        box-shadow: -24px 50px 87px #00000012;
        @include tablet {
          display: none;
        }
      }
      img {
        border-radius: 6px;
        width: 100%;
        position: relative;
        z-index: 5;
      }
    }
    p {
      margin: 35px 0;
      font: 400 24px/38px "Lato";
      color: #242424;
      @include mobile {
        margin: 15px 0;
        font: 400 18px/28px "Lato";
      }
    }
  }
  .conditions-treated {
    @include tablet {
      padding-top: 50px;
    }
    h2 {
      text-align: center;
      font: Bold 48px/60px $font-bold;
      letter-spacing: -1.92px;
      color: #ffffff;
      margin-bottom: 50px;
      @include mobile {
        font: Bold 36px/48px $font-bold;
        letter-spacing: -1px;

        margin-bottom: 30px;
      }
    }
    .row {
      &.animate__animated {
        .condition-item {
          $elements: 9;
          @for $i from 0 to $elements {
            &:nth-child(#{$i + 1}) {
              opacity: 0;
              animation: 1s fadeIn $i * 200ms forwards;
            }
          }
        }
      }
    }
    .condition-item {
      margin-bottom: 40px;
      border-left: 4px solid transparent;

      &:hover {
        border-left: 4px solid $light-blue;
        transition: all 0.5s;
      }
      h3 {
        text-align: left;
        font: 400 28px/40px $font-semibold;
        letter-spacing: 0;
        color: #ffffff;
        position: relative;
        padding-left: 50px;
        @include mobile {
          font: 400 24px/36px $font-semibold;
        }
        &:before {
          content: " ";
          width: 36px;
          height: 18px;
          background: url("../images/condition-bullet.svg") no-repeat;
          background-size: 36px 18px;
          margin-right: 10px;
          display: inline-block;
          position: absolute;
          top: 12px;
          left: 0;
        }
      }
      p {
        font: 400 18px/26px "Lato";
        color: #ffffff;
        // padding-left: 51px;
        a {
          font: bold 14px/26px "Lato";
          display: block;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          margin-top: 10px;
        }
      }
    }
  }
}

.home-book-form {
  padding: 100px 0;

  p {
    font: 400 24px/36px "Lato";
    @include mobile {
      font: 400 18px/28px "Lato";
    }
  }
  img {
    border-radius: 8px;
    position: relative;
    // top: -200px;
    // margin-bottom: -200px;
    @include tablet {
      position: static;
      margin-bottom: 0;
      margin-top: 40px;
    }
  }
  .cbd-btn-primary {
    padding-left: 20px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    padding-right: 20px;
    @include mobile {
      font-size: 16px;
    }
  }
  .btn-call {
    margin-top: 20px;
    display: inline-block;
    font: 400 24px/30px $font-regular;
    letter-spacing: 0;
    color: $light-blue;
    margin-left: 20px;
  }
}

.home-why-choose {
  background: #f9f9f9;
  padding: 100px 0 60px;
  @include tablet {
    padding: 50px 0 50px;
  }
  h2 {
    font: Bold 48px/48px $font-bold;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
    @include mobile {
      margin-bottom: 20px;
      letter-spacing: -1px;
      font: Bold 36px/48px $font-bold;
    }
    span {
      font: Bold 32px/48px $font-bold;
      @include mobile {
        font: Bold 36px/48px $font-bold;
      }
    }
  }
  p {
    font: 400 20px/34px "Lato";
    @include mobile {
      font: 400 18px/32px "Lato";
    }
  }
  img {
    border-radius: 8px;
  }
}

.state-of-the-art {
  padding: 120px 0 150px;
  @include tablet {
    padding: 50px 0;
  }
  h2 {
    font: Bold 48px/60px $font-bold;
    letter-spacing: -1.92px;
    margin-bottom: 30px;
    @include mobile {
      font: Bold 36px/48px $font-bold;
      letter-spacing: -1px;
    }
  }
  img {
    border-radius: 6px;
  }
  a {
    margin-top: 20px;
  }
  h4 {
    font: 400 24px/38px "Lato";
    @include mobile {
      font: 400 18px/32px "Lato";
    }
  }
}

.meet-doctors {
  background: #f9f9f9;
  padding: 20px 0 50px;
  top: -50px;
  overflow: hidden;
  @include mobile {
    padding: 50px 0;
  }
  h2 {
    font: Bold 48px/60px $font-bold;
    letter-spacing: -1.92px;
    margin-bottom: 15px;
    @include mobile {
      font: Bold 36px/48px $font-bold;
      letter-spacing: -1px;
    }
  }
  h4 {
    font: 400 24px/38px "Lato";
    @include mobile {
      font: 400 18px/32px "Lato";
    }
  }
  .slider-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: calc(50% - 50px);
    z-index: 100;
    @include tablet {
      display: none;
    }
  }
  .slider-next {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    top: calc(50% - 50px);
    z-index: 100;
    @include tablet {
      display: none;
    }
  }
}
.doctors-slider {
  width: 100%;
  margin-top: 80px;
  min-height: 500px;
  // background: url("../images/sliderbg.svg") no-repeat;
  background-position: center !important;
  background-size: cover !important;
  @include mobile {
    margin-top: 20px;
  }
  @include tablet {
    background: none;
  }
  .slider-item {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 18px 39px #00000012;
    padding: 50px;
    border-radius: 8px;
    min-height: 460px;
    transition: all 300ms;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include tablet {
      position: static;
      box-shadow: 2px 2px 40px #00000012;

      flex-direction: column;
      opacity: 1;
      width: 100%;
      margin-bottom: 50px;
      text-align: center;
      &.clone {
        display: none;
      }
    }
    @include mobile {
      padding: 40px 10px;
      &.clone {
        display: none;
      }
    }
    &.active {
      opacity: 1;
      .doctor-img,
      .doctor-info {
        transform: translateY(0);
      }
    }
    .doctor-img {
      position: relative;
      top: -100px;
      margin-bottom: -100px;
      transform: translateY(100px);
      transition: transform 0.3s;
      @include mobile {
        opacity: 1;
      }
      @include tablet {
        opacity: 1;
        transform: translate(0);
      }
      @include tablet {
        top: 0;
        margin-bottom: 30px;
      }
      img {
        border-radius: 8px;
      }
    }

    .doctor-info {
      transition: opacity 0.3s;
      @include mobile {
        opacity: 1;
      }
      @include tablet {
        opacity: 1;
        transform: translate(0);
      }
      h3 {
        font: Bold 32px/46px $font-bold;
        color: $light-blue;
        letter-spacing: -2px;
        margin-bottom: 10px;
        @include mobile {
          font: Bold 24px/32px $font-bold;
        }
      }
      p {
        font: 400 18px/28px "Lato";
        color: #242424;
        margin-bottom: 0;
        @include mobile {
          font: 400 18px/28px "Lato";
        }
      }
      a {
        color: $light-blue;
        font: 400 12px/20px $font-semibold;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        z-index: 25;
        margin-top: 10px;
        @include tablet {
          font-size: 16px;
          margin-top: 20px;
        }
      }
    }
  }
}

.testimonials {
  padding: 100px 0 100px;
  h2 {
    font: Bold 48px/48px $font-bold;
    letter-spacing: -1.92px;
    margin-bottom: 40px;

    @include mobile {
      font: Bold 36px/48px $font-bold;
      letter-spacing: -1px;
    }
  }
  .testimonials-row {
    .testimonial-item {
      min-height: 440px;
      border-radius: 8px;
      padding: 20px;
      overflow: hidden;
      margin: 0 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include tablet {
        margin-bottom: 8px;
      }
      @include mobile {
        margin-bottom: 15px;
      }
      h3 {
        text-align: center;
        font: Bold 110px/139px $font-bold;
        letter-spacing: 2.2px;
        color: #ffffff;
        text-shadow: 3px 4px0 #00000014;
      }
      h5 {
        text-align: center;
        font: 400 23px/28px $font-regular;
        letter-spacing: -0.34px;
        color: #ffffff;
        min-height: 90px;
      }
      &.item1 {
        background: url("../images/t1.png") no-repeat;
        background-size: cover;
        animation-delay: 0s;
      }
      &.item2 {
        background: url("../images/t2.png") no-repeat;
        background-size: cover;
        animation-delay: 0.2s;
      }
      &.item3 {
        background: url("../images/t3.png") no-repeat;
        background-size: cover;
        animation-delay: 0.4s;
      }
      &.item4 {
        background: url("../images/t4.png") no-repeat;
        background-size: cover;
        animation-delay: 0.6s;
      }
    }
  }

  h4 {
    margin: 40px 0;
    font: 400 20px/34px "Lato";
    @include mobile {
      font: 400 18px/32px "Lato";
      margin: 25px 0;
    }
  }
  .btn-call {
    margin-top: 20px;
    display: inline-block;
    font: 400 24px/30px $font-regular;
    letter-spacing: 0;
    color: $light-blue;
  }
}
.home-maps {
  iframe {
    width: 100%;
    height: 70vh;
    padding-bottom: 0;
    margin-bottom: 0;
    display: block;
  }
}
footer {
  background: #787878;
  color: #ffffff;

  padding: 60px 0 30px;
  h5 {
    font: 400 18px/28px $font-bold;
    text-transform: lowercase !important;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  img {
    max-width: 100%;
  }
  .footer-logo {
    max-width: 70%;
  }
  .footer-contact {
    p {
      font: 400 16px/34px $font-regular;
      letter-spacing: -0.19px;
      color: #ffffff;
      margin-bottom: 0;
    }
    a {
      color: inherit;
    }
  }
  .footer-copyright {
    // margin-top: 80px;
    @include tablet {
      margin-bottom: 50px;
      margin-top: 0;
    }
    p {
      color: #ffffff;

      font: 400 14px/24px $font-regular;
    }
  }
  .nav-menu {
    .nav-item {
      .nav-link {
        font: 400 16px/26px $font-regular;
        letter-spacing: -0.19px;
        color: #ffffff;
        padding: 5px 0;
      }
    }
  }
}
.heading-underline {
  font: 400 26px/58px $font-semibold;
  color: #787878;
  text-transform: uppercase;
  border-bottom: 3px solid $light-blue;
  padding-bottom: 10px;
  @media (min-width: 992px) and (max-width: 1919px) {
    font: 400 1.35vw/3.02vw $font-semibold;
    color: #787878;
    text-transform: uppercase;
    border-bottom: 0.16vw solid $light-blue;
    padding-bottom: 0.52vw;
  }
}
.sec-heading {
  font: Bold 48px/60px $font-bold;
  display: inline-block;
  letter-spacing: -2px;
  @media (min-width: 992px) and (max-width: 1919px) {
    font: Bold 2.5vw/3.13vw $font-bold;
    display: inline-block;
    letter-spacing: -0.1vw;
  }
  @include mobile {
    font: Bold 36px/48px $font-bold;
  }
}
.page-atf {
  .header {
    background: #fff;
    border-bottom: none;
  }
}

.page-header {
  padding-top: 200px;
  background: $light-blue;
  padding-bottom: 100px;
  &.condition-header {
    background: url("../images/conditions-min.jpg") no-repeat !important;
    padding-top: 300px !important;
    background-position: bottom !important;
    background-size: cover !important;
  }
  @include mobile {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  h1 {
    font: bold 60px/76px $font-bold;
    color: #fff;
    @include mobile {
      font: bold 32px/46px $font-bold;
      text-align: center;
    }
  }
}
.page-content {
  background: #fff;
  padding: 100px 0;
  font: 400 24px/38px "Lato";
  .embed-pdf {
    width: 35vw;
    height: 40vw;
    margin-top: 50px;
    display: block;
  }
  @include tablet {
    padding: 50px 0;
  }
  @include mobile {
    font: 400 18px/28px "Lato";
  }
  h2 {
    font: bold 48px/56px $font-bold;
    color: $dark-blue;
    letter-spacing: -1px;
  }
  h3 {
    font: 400 32px/48px $font-bold;
    color: $dark-blue;
    letter-spacing: -1px;
    @include mobile {
      font: 400 24px/36px $font-bold;
    }
  }
  p {
    font: 400 24px/38px "Lato";
    @include mobile {
      font: 400 18px/28px "Lato";
    }
  }
  a {
    color: $light-blue;
  }
}
@import "about";
@import "equipment";
@import "procedure";
@import "contact";
@import "patient";

@import "responsive";
